@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@600&family=Poppins&display=swap');

.bg {
  background-image: url(/assets/img/bg.jpg);
  background-position: center;
  background-attachment: fixed;
  color: #FEFFFE;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 100px;
  border-radius: 50%
}

.profile-name {
  text-align: center;
  padding: 10px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  font-size: 2em
}

.profile-about {
  text-align: center;
  padding: 2px;
  font-family: 'Poppins', sans-serif;
  font-size: .75em;
  letter-spacing: 2px
}

.links {
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  /* border: .5px solid #27262B; */
  /* border-width: 1px; */
  display: block;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-size: 1em;
  width: 680px;
  max-width: 95%;
  transition: all .3s ease-in-out
}


.links-in {
  padding: 5px;
  /* border: .5px solid #ffffff; */
  /* border-width: 1px; */
  width: 30px;
  display: block;
  border-radius: 40px;
  left: 20px;
  position: absolute;
  font-size: 20px
}

.hover {
  text-decoration: none;
  transition: all .3s;
  background: #38698D;
  color: inherit;
}

.hover:hover {
  text-decoration: none;
  background: #38698D;
  transition: all .2s;
  transform: scale(1.03);
  color: inherit;
}

.bottom-text {
  text-decoration: none;
  text-align: center;
  margin-top: 30px;
  font-size: .75em;
  font-family: 'Poppins', sans-serif;
}

@media (max-width:548px) {
  .profile-about {
    text-align: center;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 1px
  }
}

.space {
  padding-top: 40px
}